{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "airbnb-base",
        "plugin:@typescript-eslint/recommended",
        "plugin:vue/vue3-recommended",
        "plugin:vitest/all",
        "prettier"
    ],
    "plugins": ["vue", "@typescript-eslint", "filename-rules", "vitest"],
    "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "overrides": [],
    "rules": {
        // No permit prefix or sufix to interface
        "@typescript-eslint/naming-convention": [
            "error",
            {
                "selector": "interface",
                "format": ["PascalCase"],
                "custom": {
                    "regex": "(^I[A-Z]|^Interface|Interface$)",
                    "match": false
                }
            }
        ],

        // Allow class constructor empty with parameters
        "no-useless-constructor": "off",

        // Allow single lines be together on classes
        "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],

        // Disable export default requirement
        "import/prefer-default-export": "off",

        // Allow use of unary operators
        "no-plusplus": "off",

        // Allow use of pinia in project
        "no-param-reassign": ["error", { "props": false }],

        // Allow console error and warn
       "no-console": ["error", { "allow": ["warn", "error"] }],

        "import/no-extraneous-dependencies": "off",
        "import/no-unresolved": "off",
        "import/extensions": [
            "error",
            "never",
            {
                "json": "always",
                "vue": "always",
                "type": "always",
                "interface": "always"
            }
        ],
        "import/order": [
            "error",
            {
                "pathGroups": [
                    {
                        "pattern": "vue",
                        "group": "builtin"
                    },
                    {
                        "pattern": "./App.vue",
                        "group": "builtin",
                        "position": "after"
                    },
                    {
                        "pattern": "@vue/test-utils|pinia|vitest|vuetify",
                        "group": "external"
                    },
                    {
                        "pattern": "^@(?!vue)*/**",
                        "group": "internal"
                    }
                ],
                "pathGroupsExcludedImportTypes": ["internal"],
                "groups": ["builtin", "external", "index", "sibling", "parent", "internal", "object", "type"]
            }
        ],

        // Nomeclature to Filename
        "filename-rules/match": [2, { ".vue": "PascalCase", ".ts": "/[A-Za-z]+(?:[A-Z][a-z]+)*/" }],

        // Vitest:
        "vitest/prefer-lowercase-title": "off",
        "vitest/consistent-test-it": ["error", { "fn": "test", "withinDescribe": "test" }]
    }
}
